<div class="min-w-screen min-h-screen bg-teal-900 flex items-center justify-center px-5 py-5">
  <div class="w-full mx-auto rounded-xl shadow-xl text-gray-800 relative overflow-hidden" style="max-width: 350px">
    <!-- Calcular Heading -->
    <h1 class="text-center text-white py-10 text-3xl font-bold">
      Angular Calculator
    </h1>

    <!-- Calculator Screen -->
    <div class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right">
      <!-- Calculator Text-->
      <div class="text-white py-5 px-6 font-thin w-full text-2xl">{{funT}}</div>

      <!-- Calcular Number Screen -->
      <div class="w-full py-5 px-6 text-white text-6xl font-thin">{{callValue | number}}</div>
    </div>

    <!-- Calcular Button Area -->
    <div class="w-full bg-gradient-to-b from-red-500 to-red-800">
      <!-- First Button Row -->
      <div class="flex w-full">

        <!-- Clear Button -->
        <div class="w-2/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('c', 'function')">
            C
          </button>
        </div>

        <!-- Percentage Button -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('%', 'function')">
            %
          </button>
        </div>

        <!-- Divide Button -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('/', 'function')">
            /
          </button>
        </div>
      </div>

      <!-- Second Button Row-->
      <div class="flex w-full">

        <!-- Number 7 Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('7', 'number')">
            7
          </button>
        </div>

        <!-- Number 8 Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('8', 'number')">
            8
          </button>
        </div>

        <!-- Number 9 Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('9', 'number')">
            9
          </button>
        </div>

        <!-- Multiply Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('*', 'function')">
            *
          </button>
        </div>
      </div>

      <!-- Third Button Row-->
      <div class="flex w-full">

        <!-- Number 4 Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('4', 'number')">
            4
          </button>
        </div>

        <!-- Number 5 Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('5', 'number')">
            5
          </button>
        </div>

        <!-- Number 6 Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('6', 'number')">
            6
          </button>
        </div>

        <!-- Substract Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('-', 'function')">
            -
          </button>
        </div>
      </div>

      <!-- Fourth Button Row-->
      <div class="flex w-full">

        <!-- Number 1 Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('1', 'number')">
            1
          </button>
        </div>

        <!-- Number 2 Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('2', 'number')">
            2
          </button>
        </div>

        <!-- Number 3 Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('3', 'number')">
            3
          </button>
        </div>

        <!-- Add Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('+', 'function')">
            +
          </button>
        </div>
      </div>

      <!-- Fifth Row -->
      <div class="flex w-full">

        <!-- 0 Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full outline-none focus:outline-none h-16 hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('0', 'number')">
            0 </button>
        </div>

        <!-- Decimal Button-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full outline-none focus:outline-none h-16 hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('.', 'number')">
            . </button>
        </div>

        <!-- Equal Button-->
        <div class="w-2/4 border-r border-b border-red-400">
          <button
            class="w-full outline-none focus:outline-none h-16 hover:bg-red-700 hover:bg-opacity-20
             text-white font-light text-xl" (click)="onClickMethod('=', 'function')">
            = </button>
        </div>
      </div>
    </div>
  </div>
</div>